@using BlazorBlocks.Support

@inject DragService DragService

<div class="@((_beingDragged ? "rowBeingDragged " : "") + (_beingHoveredOver ? "draggingOver " : ""))addRow"
     @ondragenter:preventDefault
     @ondragleave:preventDefault
     @ondragover:preventDefault="CanDrop()"
     @ondragenter="() => { DropEntered(); }"
     @ondragleave="() => {DropExited(); }"
     @ondragover="() => { }"
     @ondrop="() => { ObjectDropped(); }">
    <div class="sides left">&nbsp;</div>
    <div class="center" @onclick="AddClicked">+</div>
    <div class="sides right">&nbsp;</div>
</div>
