@using BlazorBlocks.Component;
@using BlazorBlocks.Blocks.ImageBlock;
@using BlazorBlocks.Blocks.RawTextBlock;
@using BlazorBlocks.Blocks.TitleBlock;
@using BlazorBlocks.Model;
@using BlazorBlocks

@code {
    [Parameter, EditorRequired]
    public required EditorColumnModel Model { get; set; }

    [CascadingParameter]
    public required BlazorBlocksEditor Editor { get; set; }

    protected bool AddNewBlockDialogOpen { get; set; } = false;

    protected async Task AddBlock(BlazorBlocksBlockRegistration blockType)
    {
        var blockModel = Activator.CreateInstance(blockType.BlockModel) as BlazorBlocksEditorBlockBaseModel;
        if (blockModel == null) throw new InvalidOperationException($"Attempting to create a block model that is not a EditorBlockBaseModel. (It is {blockType.BlockModel.Name})");
        Model.AddBlock(blockModel, Model.Blocks.Count);
        AddNewBlockDialogOpen = false;
        await Editor.OnModelUpdated.InvokeAsync();
    }

    protected void OpenAddNewBlockDialog()
    {
        AddNewBlockDialogOpen = true;
    }

    protected async Task MoveBlockUp(BlazorBlocksEditorBlockBaseModel block)
    {
        var index = Model.Blocks.IndexOf(block);
        if (index > 0)
        {
            Model.MoveBlock(block, index - 1);
            await Editor.OnModelUpdated.InvokeAsync();
        }
    }

    protected async Task MoveBlockDown(BlazorBlocksEditorBlockBaseModel block)
    {
        var index = Model.Blocks.IndexOf(block);
        if (index < Model.Blocks.Count - 1)
        {
            Model.MoveBlock(block, index + 1);
            await Editor.OnModelUpdated.InvokeAsync();
        }
    }

protected async Task DeleteBlock(BlazorBlocksEditorBlockBaseModel block)
    {
        Model.RemoveBlock(block);
        await Editor.OnModelUpdated.InvokeAsync();
    }

    private int IndexOfBlock(BlazorBlocksEditorBlockBaseModel block) => Model.Blocks.IndexOf(block);
}

@if (AddNewBlockDialogOpen)
{
    <Dialog Title="Add new block" OnClose="() => { AddNewBlockDialogOpen = false; }">
        @foreach (var blockType in BlockRegistrationService.RegisteredBlocks)
        {
            @if (blockType.Image == null)
            {
                <button @onclick="() => AddBlock(blockType)">@blockType.Name</button>
            }
            else
            {
                <img @onclick="() => AddBlock(blockType)" src="@blockType.Image" />
            }
        }
    </Dialog>
}
<div class="@Model.ColumnClass editorColumn">
    @foreach (var block in Model.Blocks)
    {
        <BlockContainer
                        Model="@block"
                        OnMoveUp="b => MoveBlockUp(b)"
                        OnMoveDown="b => MoveBlockDown(b)"
                        OnDelete="b => DeleteBlock(b)"
                        CanMoveUp="IndexOfBlock(block) > 0"
                        CanMoveDown="IndexOfBlock(block) < Model.Blocks.Count-1" />
    }

    @if (BlockRegistrationService.RegisteredBlocks.Any())
    {
        <div class="text-center mt-2 mb-2">
            <button class="btn btn-primary addBlock" @onclick="() => OpenAddNewBlockDialog()"><i class="oi oi-plus"></i> Block</button>
        </div>
    }
</div>

