@using BlazorBlocks.Model;

@code {
    [Parameter]
    public EditorRowModel Model { get; set; }

    [Parameter]
    public List<BlockRegistration> BlockTypes { get; set; }
}
    @foreach (var column in Model.Columns)
{
    <div class="@column.ColumnSize" style="border: #EFEFEF 1px solid;">
        <EditorColumn Model="@column" BlockTypes="@BlockTypes" />
    </div>
}

@code {


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
