@using BlazorBlocks.Internals.Models

@code {
    [Parameter, EditorRequired]
    public required EditorGroupModel Model { get; set; }
}

<div class="bb-editor__group">
    <div class="bb-editor__group-content">
        @foreach (var column in Model.Columns)
        {
            <EditorColumn Model="@column" ParentModel="@Model" />
        }
    </div>
</div>
