.bb-editor__column {
    padding-left: var(--bb-spacing-sm);
    padding-right: var(--bb-spacing-sm);
    position: relative;
}

.bb-editor__column + .bb-editor__column {
    border-left: var(--bb-border-width) solid var(--bb-color-border-light);
}

.bb-editor__column-add-block {
    margin-left: auto;
    margin-right: auto;
}

.bb-editor__column-drop-zone {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    right: 0;
    left: 0;
}

.bb-editor__column-drop-zone--active {
    border-top: var(--bb-border-width) dashed green;
    border-bottom: var(--bb-border-width) dashed green;
}