.bb-editor__group {
    margin-top: var(--bb-spacing-md);
}

.bb-editor__group + .bb-editor__group {
    margin-top: var(--bb-spacing-md);
}

.bb-editor__group-header {
    position: relative;
    bottom: -1px;
    padding: var(--bb-spacing-sm);
    display: inline-block;
    border-radius: var(--bb-border-radius-md) var(--bb-border-radius-md) 0 0;
    border: var(--bb-border-width) solid var(--bb-color-border-medium);
    border-bottom: var(--bb-border-width) var(--bb-color-background-white) dotted;
}

.bb-editor__group-header button {
    margin-left: 13px;
}

.bb-editor__group-header button + button {
    margin-left: var(--bb-spacing-sm);
}

.bb-editor__group-content {
    padding: var(--bb-spacing-md);
    display: flex;
    flex-wrap: wrap;
}
