.bb-editor__add-row {
    display: flex;
    margin-top: var(--bb-spacing-md);
    margin-bottom: var(--bb-spacing-md);
}

.bb-editor__add-row * {
    display: flex;
}

.bb-editor__add-row-sides {
    flex: 1;
    height: 50%;
    border-bottom: var(--bb-border-width) solid var(--bb-color-neutral-900);
}

.bb-editor__add-row-left {
    align-items: center;
    justify-content: flex-end;
    padding-right: var(--bb-spacing-sm);
    margin-left: var(--bb-spacing-sm);
}

.bb-editor__add-row-button {
    border: var(--bb-border-width) solid var(--bb-color-neutral-900);
    color: var(--bb-color-neutral-900);
    text-align: center;
    height: var(--bb-layout-container-height);
    font-size: var(--bb-font-size-2xl);
    width: var(--bb-layout-container-height);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--bb-color-background-white);
    margin: 0 var(--bb-spacing-sm);
}

.bb-editor__add-row-button--group {
    border-radius: var(--bb-border-radius-circle);
}

.bb-editor__add-row-button--block {
    border-radius: 0;
}

.bb-editor__add-row-right {
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--bb-spacing-sm);
    margin-right: var(--bb-spacing-sm);
}

.bb-editor__add-row--disabled {
    text-decoration: line-through;
    opacity: var(--bb-opacity-hover);
    pointer-events: none;
}

.bb-editor__add-row--dragging {
    opacity: var(--bb-opacity-disabled);
}

.bb-editor__add-row--droppable {
    background-color: #080;
    color: var(--bb-color-background-white);
    opacity: var(--bb-opacity-disabled);
}