@using BlazorBlocks.Internals.Support

@inject DragService DragService

<div class="bb-editor__add-row @(_beingDragged ? "bb-editor__add-row--dragging" : "") @(_beingHoveredOver ? "draggingOver" : "")"
	 @ondragenter:preventDefault
	 @ondragleave:preventDefault
	 @ondragover:preventDefault="CanDrop()"
	 @ondragenter="DropEntered"
	 @ondragleave="DropExited"
	 @ondragover="() => { }"
	 @ondrop="async () => { await ObjectDropped(); }">
	<div class="bb-editor__add-row-sides bb-editor__add-row-left">&nbsp;</div>
	<div class="bb-editor__add-row-button @(_cssClasses) @(_isDroppable ? "bb-editor__add-row--droppable" : "")"
	@onclick="AddClicked">@_text +</div>
	<div class="bb-editor__add-row-sides bb-editor__add-row-right">&nbsp;</div>
</div>