@using BlazorBlocks.Customization
@using BlazorBlocks.Internals.Support

@code {
    [Inject]
    internal DragService? DragService { get; set; }

    [Parameter, EditorRequired]
    public required BaseBlockModel Model { get; set; }

    public string BlockName => Model.EditorName;

    public Type BlockType => Model.BlockType;

    public IDictionary<string, object> Attributes => Model.Parameters;
}

@if (BlockType != null && Attributes != null)
{
    <div class="bb-block">
        <div class="bb-block__content">
            <DynamicComponent Type="@BlockType" Parameters="@Attributes" />
        </div>
    </div>
}