.bb-block {
    margin-top: var(--bb-spacing-md);
}

.bb-block + .bb-block {
    margin-top: var(--bb-spacing-md);
}

.bb-block__header {
    position: relative;
    bottom: -1px;
    padding: var(--bb-spacing-sm);
    display: inline-block;
    border-radius: var(--bb-border-radius-md) var(--bb-border-radius-md) 0 0;
    border: var(--bb-border-width) solid var(--bb-color-border-medium);
    border-bottom: var(--bb-border-width) var(--bb-color-background-white) dotted;
}

.bb-block__content {
    padding: var(--bb-spacing-md);
    text-align: center;
}

.bb-block__actions button {
    margin-left: 15px;
}

.bb-block__actions button + button {
    margin-left: var(--bb-spacing-sm);
}