.bb-draggable {
    margin-top: var(--bb-spacing-md);
}

.bb-draggable + .bb-draggable {
    margin-top: var(--bb-spacing-md);
}

.bb-draggable__header {
    position: relative;
    bottom: -1px;
    padding: var(--bb-spacing-sm);
    display: inline-block;
    border-radius: var(--bb-border-radius-md) var(--bb-border-radius-md) 0 0;
    border: var(--bb-border-width) solid var(--bb-color-border-medium);
    border-bottom: var(--bb-border-width) var(--bb-color-background-white) dotted;
}

.bb-draggable__handle {
    height: 2px;
    cursor: move;
}

.bb-draggable__content {
    border-radius: 0 var(--bb-border-radius-md) var(--bb-border-radius-md) var(--bb-border-radius-md);
    border: var(--bb-border-width) var(--bb-color-border-medium) solid;
    padding: var(--bb-spacing-md);
}

.bb-draggable__content--collapsed {
    display: none;
}

.bb-draggable--group .bb-draggable__content,
.bb-draggable--group .bb-draggable__header {
    background-color: var(--bb-color-background-light);
}

.bb-draggable--block .bb-draggable__header,
.bb-draggable--block .bb-draggable__content {
    background-color: var(--bb-color-background-white);
}
