.dragContainer {
    --border-radius: 5px;
}

    .dragContainer + .dragContainer {
        margin-top: 1rem;
    }

.dragHeader {
    position: relative;
    bottom: -1px;
    padding: .5rem;
    display: inline-block;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: 1px solid #AAA;
    border-bottom: 1px #FFF dotted;
}

.dragHandle {
    height: 2px;
}

.dragContent {
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
    border: 1px #AAA solid;
    padding: 1rem;
}

.collapsed {
    display: none;
}

.draggableGroup .dragContent,
.draggableGroup .dragHeader {
    background-color: #F6F6F6;
}

.draggableBlock .dragHeader,
.draggableBlock .dragContent {
    background-color: #FFF;
}
