@using BlazorBlocks.BlockEditor.Blocks;
@using BlazorBlocks.BlockEditor.Blocks.TitleBlock;

@inherits BaseEditor<TitleBlockModel>
<h3>TitleEditorBlock</h3>
<label for="titleText">Title</label>
<input type="text" id="titleText" @bind="Model.Title" />
