@using BlazorBlocks.BlockEditor.Blocks;
@using BlazorBlocks.BlockEditor.Blocks.ImageBlock;
@inherits BaseEditor<ImageBlockModel>

<h3>Image</h3>
<div class="form-group">
    <label for="imageSrc">Image Url</label>
    <input class="form-control" type="text" id="imageSrc" @bind="Model.ImageUrl" />
</div>
<div class="form-group">
    <label for="imageAlt">Image Alt</label>
    <input class="form-control" type="text" id="imageAlt" @bind="Model.AltText" />
</div>
@code {

}
