@using BlazorBlocks.Customization
@using BlazorBlocks.Sample.WASM.CustomBlocks.TestBlock
@inherits BlockEditor<TestBaseBlockModel>

<h3>TestBaseBlock Editor</h3>

<div class="form-group">
    <label for="test">Test Content</label>
    <input class="form-control" type="text" id="test" @bind="Model.Content" @bind:after="OnValuesChanged" />
</div>