@using BlazorBlocks.Blocks
@inherits BaseEditor<TestBlockModel>

<h3>TestBlock Editor</h3>

<div class="form-group">
    <label for="test">Test Content</label>
    <input class="form-control" type="text" id="test" @bind="Model.Content" @bind:after="OnValuesChanged" />
</div>