@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row bb-padding-x-lg">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content bb-padding-x-lg">
            @Body
        </article>
    </main>
</div>
