@page "/"

<div class="content">
	<hr />

	<button @onclick="ReRender">Render HTML</button> <br />


	<div style="display:flex;">
		<div style="width: 50%; margin-right: 10px;">
			<Editor Model="@_blazorBlocksModel" OnModelUpdated="() => OnModelUpdated()" />
		</div>
		<div style="border-left: 1px solid #000; width: 50%; margin-left: 10px;">
			<h2>Rendered HTML</h2>
			@((MarkupString)(_renderContent ?? ""))
		</div>
	</div>

	<hr /><hr /><hr /><hr />


	<div class="row">
		Serialization controls:
		<div class="p-5" style="border: 1px solid #000;">

			<button @onclick="() => Import()" class="btn btn-primary">Load from json</button>
			<button @onclick="() => Export()" class="btn btn-primary float-end">Export to json</button><br />
			<InputTextArea class="form-control" @bind-Value="@_serialized" Groups="10" Cols="100" />
		</div>
	</div>

</div>
@code {
#pragma warning disable CS0414 // Field is assigned but never used

	readonly Model _blazorBlocksModel = new Model();

	string? _renderContent;
	string? _serialized;

	string t2 =
	"""{"Groups":[{"Columns":[{"ColumnClass":"col-md-12","BlocksModels":[{"Block":{"$modelType":"QuoteBaseBlockModel","EditorName":"Quote","Quote":"abc"}},{"Block":{"$modelType":"TestBaseBlockModel","EditorName":"Custom Test BaseBlock","Content":"1234"}}]}],"GroupTypeName":"1 column"},{"Columns":[{"ColumnClass":"col-3","BlocksModels":[{"Block":{"$modelType":"ImageBaseBlockModel","EditorName":"Image","ImageUrl":"","AltText":"afsefgs"}},{"Block":{"$modelType":"TitleBaseBlockModel","EditorName":"Title","TitleSize":2,"Title":"Medium 1/4"}}]},{"ColumnClass":"col-3","BlocksModels":[]},{"ColumnClass":"col-3","BlocksModels":[{"Block":{"$modelType":"TitleBaseBlockModel","EditorName":"Title","TitleSize":3,"Title":"3/4"}}]},{"ColumnClass":"col-3","BlocksModels":[]}],"GroupTypeName":"4 columns"},{"Columns":[{"ColumnClass":"col-md-4","BlocksModels":[]},{"ColumnClass":"col-md-7","BlocksModels":[]}],"GroupTypeName":"2 columns"}]}""";

#pragma warning restore CS0414 // Field is assigned but never used
	protected override void OnInitialized()
	{
		base.OnInitialized();
		// Read in and save some default blocks for testing
		_blazorBlocksModel.Load(t2);

		_serialized = _blazorBlocksModel.GetJson();

		OnModelUpdated();

		StateHasChanged();
	}

	protected void ReRender()
	{
		_renderContent = _blazorBlocksModel.GetHtml();
		StateHasChanged();
	}

	protected void Import()
	{
		_blazorBlocksModel.Load(_serialized ?? "");
		StateHasChanged();
	}

	protected void Export()
	{
		_serialized = _blazorBlocksModel.GetJson();
	}

	private void OnModelUpdated()
	{
		_renderContent = _blazorBlocksModel.GetHtml();
		_serialized = _blazorBlocksModel.GetJson();
	}
}