@using BlazorBlocks.Component;
@using BlazorBlocks.BlockEditor.Internals;
@using BlazorBlocks.Model;

@code {
    [Parameter]
    public EditorModel Model { get; set; }

    protected bool AddNewRowDialogVisible = false;
    protected EditorRowModel RowAddingBelow = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected void ShowNewRowDialog(EditorRowModel rowToAddBelow)
    {
        AddNewRowDialogVisible = true;
        RowAddingBelow = rowToAddBelow;

    }

    protected void AddRowBelow(EditorRowModel rowDefinition)
    {
        var clickedRowIndex = Model.Rows.IndexOf(RowAddingBelow);
        var insertRow = new EditorRowModel();
        foreach (var col in rowDefinition.Columns)
        {
            insertRow.Columns.Add(new EditorColumnModel() { ColumnSize = col.ColumnSize });
        }
        Model.Rows.Insert(clickedRowIndex + 1, insertRow);
        RowAddingBelow = null;
        AddNewRowDialogVisible = false;
    }

    protected void MoveRowUp(EditorRowModel rowToMove) => MoveRow(rowToMove, -1);

    protected void MoveRowDown(EditorRowModel rowToMove) => MoveRow(rowToMove, 1);

    protected void MoveRow(EditorRowModel rowToMove, int offset)
    {
        var clickedRowIndex = Model.Rows.IndexOf(rowToMove);
        var newPosition = clickedRowIndex + offset;
        if (offset == 0 || newPosition < 0 || newPosition > Model.Rows.Count)
        {
            return;
        }

        Model.Rows.Remove(rowToMove);

        Model.Rows.Insert(newPosition, rowToMove);
    }
}

@if (AddNewRowDialogVisible)
{
    <Dialog Title="Add new row" OnClose="() => AddNewRowDialogVisible = false">
        @foreach (var colDefinition in Model.ColumnDefinitions)
        {
            <button class="btn btn-info me-2" @onclick="() => AddRowBelow(colDefinition)">@colDefinition.ColumnCollectionName</button>
        }
    </Dialog>
}

<div>
    <h3>Blazor Blocks Editor</h3>
    @foreach (var row in Model.Rows)
    {
        <div style="display: flex; flex-direction: row; border-bottom: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px;">
            <div style="width: 150px; border-right: 1px dashed #ccc;">
                <button class="btn btn-success" @onclick="_ => MoveRowUp(row)"><i class="oi oi-arrow-thick-top"></i></button><br />
                <button class="btn btn-success" @onclick="_ => MoveRowDown(row)"><i class="oi oi-arrow-thick-bottom"></i></button><br />
                <button class="btn btn-primary" @onclick="_ => ShowNewRowDialog(row)"><i class="oi oi-plus"></i> Add new row</button><br />
            </div>
            <div style="flex: 1;" class="row">
                <EditorRow Model="@row" BlockTypes="@Model.BlockRegistrations" />
            </div>
        </div>
    }
</div>

