@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnClose { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
}


<div class="bb-dialog-overlay">
    <div class="bb-dialog">
        <div class="bb-dialog__title"><h2>@(Title ?? String.Empty)</h2></div>
        <div class="bb-dialog__content">
            @ChildContent
        </div>
        <div class="bb-dialog__actions">
            <button class="bb-button bb-button--primary" @onclick="async () => { await OnClose.InvokeAsync(); }">Close</button>
        </div>
    </div>
</div>