@using BlazorBlocks.Shared.BlockEditor.Blocks.ImageBlock;
@using BlazorBlocks.Shared.BlockEditor.Blocks.RawTextBlock;
@using BlazorBlocks.Shared.BlockEditor.Blocks.TitleBlock;
@using BlazorBlocks.Shared.BlockEditor.Model;
@code {
    [Parameter]
    public EditorColumnModel Model { get; set; }

    // TEMP. Get from registrations
    protected void AddTitleBlock()
    {
        Model.Blocks.Add(new TitleBlockModel());
    }

    protected void AddRawTextBlock()
    {
        Model.Blocks.Add(new RawTextBlockModel());
    }

    protected void AddImageBlock()
    {
        Model.Blocks.Add(new ImageBlockModel());
    }
}

@foreach(var block in Model.Blocks)
{
    <div><DynamicComponent Type="@block.EditorType" Parameters="@block.Parameters" /></div>
    <hr />
}
<button @onclick="AddTitleBlock">Add Title Block</button><br />
<button @onclick="AddRawTextBlock">Add RawText Block</button><br />
<button @onclick="AddImageBlock">Add Image Block</button>