@using BlazorBlocks.Shared.BlockEditor.Model;
@code {
    [Parameter]
    public EditorRowModel Model { get; set; }
}
    @foreach (var column in Model.Columns)
{
    <div class="@column.ColumnSize" style="background-color: #CCC;">
        <EditorColumn Model="@column" />
    </div>
}
<div class="col-12">
    <hr />
</div>

@code {


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
