@page "/"

<div class="content">
	<hr />

	<button @onclick="ReRender" class="bb-button bb-button--primary">Render HTML</button> <br />


	<div style="display:flex;">
		<div style="width: 50%; margin-right: 10px;">
			<Editor Model="@_blazorBlocksModel" OnModelUpdated="() => OnModelUpdated()" />
		</div>
		<div style="border-left: 1px solid #000; width: 50%; margin-left: 10px;">
			<h2>Rendered HTML</h2>
			@((MarkupString)(_renderContent ?? ""))
		</div>
	</div>

	<hr /><hr /><hr /><hr />


	<div class="bb-layout-grid">
		Serialization controls:
		<div class="bb-padding-xl" style="border: 1px solid #000;">

			<button @onclick="() => Import()" class="bb-button bb-button--primary">Load from json</button>
			<button @onclick="() => Export()" class="bb-button bb-button--primary bb-align-right">Export to json</button><br />
			<InputTextArea class="bb-input" @bind-Value="@_serialized" rows="10" cols="100" />
		</div>
	</div>

</div>
@code {
	#pragma warning disable CS0414 // Field is assigned but never used

	readonly BlazorBlocksModel _blazorBlocksModel = new BlazorBlocksModel();

	string? _renderContent;
	string? _serialized;

	string t2 =
	"""{"Groups":[{"Columns":[{"ColumnClass":"bb-layout-column--6","Blocks":[{"Block":{"$modelType":"QuoteBlockModel","EditorName":"Quote","Quote":"abc123"}}]},{"ColumnClass":"bb-layout-column--6","Blocks":[]}],"GroupTypeName":"2 columns","CssClass":"bb-layout-grid"},{"Columns":[{"ColumnClass":"bb-layout-column--4","Blocks":[{"Block":{"$modelType":"RawTextBlockModel","EditorName":"Raw Text","Content":"Here\u0027s some \u003Cb\u003ERaw\u003C/b\u003E text"}}]},{"ColumnClass":"bb-layout-column--8","Blocks":[{"Block":{"$modelType":"ImageBlockModel","EditorName":"Image","ImageUrl":"https://static3.bigstockphoto.com/3/8/3/large1500/383884268.jpg","AltText":""}}]}],"GroupTypeName":"1\u002B2 columns","CssClass":"bb-layout-grid"}]}""";
#pragma warning restore CS0414 // Field is assigned but never used
	protected override void OnInitialized()
	{
		base.OnInitialized();
		// Read in and save some default blocks for testing
		_blazorBlocksModel.Load(t2);

		_serialized = _blazorBlocksModel.GetJson();

		OnModelUpdated();

		StateHasChanged();
	}

	protected void ReRender()
	{
		_renderContent = _blazorBlocksModel.GetHtml();
		StateHasChanged();
	}

	protected void Import()
	{
		_blazorBlocksModel.Load(_serialized ?? "");
		StateHasChanged();
	}

	protected void Export()
	{
		_serialized = _blazorBlocksModel.GetJson();
	}

	private void OnModelUpdated()
	{
		_renderContent = _blazorBlocksModel.GetHtml();
		_serialized = _blazorBlocksModel.GetJson();
	}
}