@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnClose { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
}


<div class="dialogContainer">
    <div class="dialog">
        <div class="dialogTitle"><h2>@(Title ?? String.Empty)</h2></div>
        <div class="dialogContent">
            @ChildContent
        </div>
        <div class="dialogButtons">
            <button class="btn btn-danger" @onclick="async () => { await OnClose.InvokeAsync(); }"><i class="oi oi-x"></i> Close</button>
        </div>
    </div>
</div>