<h3>Dialog</h3>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback OnClose { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }
}
<div class="dialogContainer">
    <div class="dialog">
        <div class="dialogTitle"><h1>@(Title ?? String.Empty)</h1></div>
        <div class="dialogContent">
            @ChildContent
        </div>
        <div class="dialogButtons">
            <button @onclick="async () => { await OnClose.InvokeAsync(); }"><i class="oi oi-x"></i></button>
        </div>
    </div>
</div>