.bb-title-editor__control {
    width: 100%;
    margin-bottom: 10px;
    border-radius: var(--bb-border-radius-sm);
    border: var(--bb-border-width) solid var(--bb-color-neutral-500);
    display: block;
    padding: 0.4rem var(--bb-spacing-sm);
    line-height: var(--bb-line-height-base);
}