@using BlazorBlocks.Customization

@inherits BlockEditor<TitleBaseBlockModel>
<div>
    <label for="titleSize">Title Size</label>
    <select class="title-control" @onchange="TitleSizeChanged" id="titleSize">
        @foreach (TitleSizeEnum size in Enum.GetValues(typeof(TitleSizeEnum)))
        {
            var selected = size == Model.TitleSize;

            <option value="@size" selected="@selected">@size</option>
        }
    </select>
</div>

<div>
    <label for="titleText">Title Text</label>
    <input class="title-control" id="titleText" style="width: 100%; height: 7rem; text-align: center; font-size: 4rem;"
           @bind="@Model.Title" @bind:after="OnValuesChanged" />
</div>

@code {
    private async Task TitleSizeChanged(ChangeEventArgs e)
    {
        Model.TitleSize = (TitleSizeEnum)Enum.Parse(typeof(TitleSizeEnum), e.Value?.ToString() ?? nameof(TitleSizeEnum.Medium));
        await OnValuesChanged();
    }
}