@using BlazorBlocks
@using BlazorBlocks.Services
@using BlazorBlocks.Services.Registrations
@if (Visible)
{
    <Dialog Title="Add new group" OnClose="HideDialog">
        @foreach (var groupRegistration in BlockRegistrationService.Groups)
        {
            <button class="btn btn-info me-2" @onclick="() => ItemClicked(groupRegistration)">@groupRegistration.Name</button>
        }
    </Dialog>
}

@code {

    [Parameter, EditorRequired] public bool Visible { get; set; }
    [Parameter] public EventCallback<bool> VisibleChanged { get; set; }

    [Parameter, EditorRequired] public required int InsertIndex { get; set; }

    [Parameter, EditorRequired] public required EventCallback<NewGroupDialogResult> OnGroupSelected { get; set; }

    private async Task ItemClicked(GroupRegistration groupType)
    {
        await HideDialog();

        if (!OnGroupSelected.HasDelegate)
        {
            return;
        }
        await OnGroupSelected.InvokeAsync(new NewGroupDialogResult(groupType, InsertIndex));
    }

    private async Task HideDialog()
    {
        Visible = false;
        await VisibleChanged.InvokeAsync(Visible);
    }
}
